<app-auth-form-container title="Sign In">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col">
    <app-input-field
      [control]="email"
      type="text"
      placeholder="Enter your Email address"
      label="Email"
    ></app-input-field>
    <app-input-field
      [control]="password"
      type="password"
      placeholder="Enter your password"
      label="Password"
    ></app-input-field>

    <!-- Submit Button -->
    <div>
      <button
        class="w-full text-[#FFFFFF] bg-[#4F46E5] focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-6"
        type="submit"
      >
        Login
      </button>
      <div class="text-sm font-light text-[#000000] text-center">
        Don't have an accout yet?
        <a href="/register" class="font-medium text-[#4F46E5] hover:underline"
          >Sign Up</a
        >
      </div>
    </div>
  </form>
</app-auth-form-container>
